@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Port+Lligat+Sans|Roboto+Slab|Yanone+Kaffeesatz");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  text-align: center;
  scroll-behavior: smooth;
}

.header {
  height: 95vh;

  background: url("https://images.unsplash.com/photo-1506547797558-da02bf35df05?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab61bf08768d151a0e07cf03072e965c&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header-text {
  padding-top: 20%;
  margin: 1.2rem;
}
.header-text h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: white;
  font-size: 2.3rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.header-text h2 {
  color: white;
  font-size: 1.7rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.sp1 {
  color: coral;
}
a {
  text-decoration: none;
  color: crimson;
  font-size: 1.2rem;
  border: 1px solid #000;
  display: inline-block;
  margin-top: 10px;
  padding: 0.4rem 1.7rem;
  border-radius: 50px;
  border-color: white;
  background: white;
  transition: all ease-in-out 100ms;
}
a:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
}
a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
main {
  max-width: 960px;
  margin: auto;
  text-align: center;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
}
.works h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 4px;
  padding-top: 1rem;
  margin: 2.5rem;
}
.works h4 {
  font-family: "Dancing Script", cursive;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.about h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 4px;
  margin: 3rem;
}

.about p {
  padding: 1.5rem;
  font-family: "Port Lligat Sans", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.about h4 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 4px;
  margin: 1rem;
  text-transform: capitalize;
}
img {
  width: 100%;
  padding: 1rem;
}
footer {
  background: #333;
}
footer p {
  padding: 0.7rem;
  color: #eee;
  font-size: 1rem;
}
.foot {
  color: coral;
  text-transform: uppercase;
}
.contact h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-transform: capitalize;
  margin: 1rem;
}
.contact h4 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-transform: capitalize;
}
.contact strong {
  text-transform: lowercase;
  color: coral;
}
